<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>This is a django project!</h1>
        cookie: <em>{{ cookie }}</em><br>
        ip: <em>{{ ip }}</em><br>
        date: <em>{{ date }}</em><br>
        access_hist: <em>{{ access_hist }}</em><br>
    </body>
</html>
