<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>I come from template!!</title>
        <style>
            body { background-color: lightyellow;}
            em {color: LightSeaGreen;}
        </style>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src="http://www.google.com/jsapi"></script> -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        {% load staticfiles %}
    </head>
    <body>
        <div align="center" class="container">

            <h1>Enter what you want to search!</h1>
            <div class="ui-widget">
                <label for="tags">Search: </label>
                <form action="" method="post">
                    {% csrf_token %}
                    <input id="tags" name="tags" type="text" class="form-control" placeholder="Search..." onkeyup="">
                </form>
            </div>
            {% if type %}type: <em>{{ type }}</em><br>{% endif %}
            {% if time %}time: <em>{{ time }}</em><br>{% endif %}
            {% if dict %}dict: <em>{{ dict }}</em><br>{% endif %}
            {% if data %}data: <em>{{ data }}</em><br>{% endif %}
        </div>
    </body>
    <footer>

    </footer>
</html>
<script>
    var availableTags = [
      "Python",
      "Scheme"
    ];
    function search(post){
        $.ajax({
            url : '/search',
            dataType : 'json',
            type:'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                word:post,
            },
            // ifModified makes it so that the done callback is only called
            // if the response is not a 304 Not Modified.
            ifModified : true
        }).done(function(response) {
            // doStuffWith(response);

        });

        $( "#tags" ).autocomplete({
          source: availableTags
        });
    }
</script>
