<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>I come from template!!</title>
        <style>
            body { background-color: lightyellow;}
            em {color: LightSeaGreen;}
        </style>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        {% load staticfiles %}
    </head>
    <body>
        <div align="center" class="container">

            <h1>Enter what you want to search!</h1>
            <div class="ui-widget">
                <label for="tags">Search: </label>
                <form action="" method="post">
                    {% csrf_token %}
                    <input id="tags" name="tags" type="text" class="form-control" placeholder="Search..." onkeyup="search(this)">
                </form>
            </div>
            {% if type %}type: <em>{{ type }}</em><br>{% endif %}
            {% if time %}time: <em>{{ time }}</em><br>{% endif %}
            {% if dict %}dict: <em>{{ dict }}</em><br>{% endif %}
            {% if data %}data: <em>{{ data }}</em><br>{% endif %}
        </div>
    </body>
    <footer>

    </footer>
</html>
<script>
    var availableTags = [
      "Python",
      "Scheme"
    ];
    function search(e){
        if(e.value.trim() == "")
            return false;
        $.ajax({
		    url: '/dropsearch/',
		    type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
		    data: {
                // csrfmiddlewaretoken: '{{ csrf_token }}',
                word: e.value,
            },
		    cache: false,
		    dataType: 'json',
		    async: true,//important, makesure donprocess img, then go on
		    success: function(data, textStatus, jqXHR) {
                console.log(data);
                availableTags = JSON.parse(data.result)
			},
			error: function(jqXHR, textStatus, errorThrown) {
			    console.log('ERRORS: ' + errorThrown);
			}
		});
        $( "#tags" ).autocomplete({
          source: availableTags
        });
        return false;
    }
</script>
